#formContainer {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 200px;
  border-color: black;
  border-width: 5px;
  border-radius: 3px;
  background-color: black;
  padding: 30px;
  }

  .field{
      width: 100%;

  }

  .padding{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
  }